<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155572442941-qhvlsf6bjut13j8oca5je9gjkpg95uob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155572442941-qhvlsf6bjut13j8oca5je9gjkpg95uob</string>
	<key>API_KEY</key>
	<string>AIzaSyAUW3uulJnJu626EMzYHHgAPNzlKmXFxOU</string>
	<key>GCM_SENDER_ID</key>
	<string>155572442941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.john.JustAppBeta</string>
	<key>PROJECT_ID</key>
	<string>justapp-e9937</string>
	<key>STORAGE_BUCKET</key>
	<string>justapp-e9937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155572442941:ios:b1be7105ca3a0001e79754</string>
</dict>
</plist>